body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 36px;
  color: orange;
}

#countdown {
  font-size: 48px;
  color: orange;
  margin-top: 20px;
}
